@page "/Database"
@using Microsoft.EntityFrameworkCore
@using BlazorApp1.Components.Pages.Classes

<PageTitle>Database</PageTitle>

     @if(Program.Location == "101")
     {
         <h1>South-East</h1>
     }
     @if(Program.Location == "102") 
     {
         <h1>South-West</h1>
     }
     @if(Program.Location == "103")
     {
         <h1>North-East</h1>
     }
     @if(Program.Location == "104")
     {
         <h1>North-West</h1>
     }
     @if(Program.Location == "105")
     {
        <h1>Taiwan</h1>
     }

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>VendorID</th>
            <th>LocationID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Part part in DbContext.Parts)
        {
            <tr>
                <td>@part.Id</td>
                <td>@part.Quantity</td>
                <td>@part.Cost</td>
                <td>@part.VendorID</td>
                <td>@part.LocationID</td>
            </tr>
        }
    </tbody>
</table>
@code {

}



